# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.*.tsx.swp

# typescript
*.tsbuildinfo

# Credentials - DO NOT COMMIT
*credentials.json
*GoogleService-Info.plist
*google-services.json
*Config.plist
*info.plist
*.keystore
*.jks

# Android
android/build/
android/.gradle/
android/local.properties
android/captures/
android/.externalNativeBuild/
android/.cxx/
android/*.aab
android/*.apk
android/output-metadata.json
android/*.iml
android/*.iws
android/.idea/
android/out/
android/*.hprof
android/obj/
android/.navigation/
android/freeline.py
android/freeline/
android/freeline_project_description.json
android/fastlane/report.xml
android/fastlane/Preview.html
android/fastlane/screenshots
android/fastlane/test_output
android/fastlane/readme.md
android/vcs.xml
android/lint/
android/lint-results*.xml
android/.android/
android/com_crashlytics_export_strings.xml
android/crashlytics.properties
android/crashlytics-build.properties
android/fabric.properties
android/atlassian-ide-plugin.xml
android/*.jsbundle
android/misc.xml
android/deploymentTargetDropDown.xml
android/render.experimental.xml

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/
ios/DerivedData/
ios/*.hmap
ios/*.ipa
ios/*.dSYM.zip
ios/*.dSYM
ios/Podfile.lock
